<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
<div class="container">
  <form [formGroup]="form"
  (ngSubmit)="getData()">
    <div class="container">
      <div class="row">
        <div class="form-group flight-number">
          <input required [(ngModel)]="flightNumber" name="flightNumber" id="flightNumber" type="text"
          formControlName="flightNumber" placeholder="Flight Number">
          <button class="btn btn-primary" type="submit"[disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>
    <img src="assets/images/aeroplane2.jpg" class="img-fluid" alt="Responsive image">
  </form>
</div>
